<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2021. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_yoomoney_cc">
        <observer name="yoomoney_cc_gateway_data_assign" instance="Kenboy\YooKassa\Observer\DataAssignObserver" />
    </event>
</config>
